body {
background-color: rgb(126, 114, 98);
color: ghostwhite;
}

h1 {
    color: rgb(221, 24, 24);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-size: 100px;
    font-style: oblique;
    margin: 120px;
    text-align: center;
    background-color: gray;
    border: 10px inset;
}

p {
    font-size: 27px;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(134, 99, 9);
    background-color: bisque;
    text-align: center;
    margin: 40px;
    border: 10px inset;
    padding: 30px, 10px, 20px 40px;

}

img {
    align-self: center;
    width: 500%;
    height: 200%;
}


li { 
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    list-style: disc;
    margin: 1%;
   
}

.cool {
    font-weight: bold;
    color: coral;
    text-decoration: underline;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}