* {
    box-sizing: 
    border-box;
}

body {
    background: green;

    animation: wallpaper  10s infinite;
}

@keyframes wallpaper {
    0% {
        background: green;
    }
    25% {
        background: yellow;
    }
    50% {
        background: rgb(255, 51, 0);
    }
    75% {
        background: rgb(14, 135, 190);
    }
    100% {
        background: green;
    }
}

.square {
    background: blue;
    width: 500px;
    height: 500px;
    position: fixed;
    top: 20%;
    left: 60%;

    animation: box 5s infinite alternate;
}

@keyframes box {
    0% {
        background: blue;
        transform: rotate(0)
    }
    25% {
        background: red;
        transform: rotate(90deg)
    }
    50% {
        background: rgb(172, 189, 21);
        transform: rotate(120deg)
    }
    75% {
        background: green;
        transform: rotate(180deg)
    }
    100% {
        background: blue;
        transform: rotate(360)
    }
    
}

.circle {
    height: 500px;
    width: 500px;
    background: red;
    border-radius: 50%;
    display: inline-block;
    position: fixed;
    top: 20%;
    left: 15%;

    animation: round 3s infinite linear;
}

@keyframes round {

     0% {
        background: red;
        transform: rotate(0deg) translateX(100px) rotate(0deg);
    }
    50% {
        background: yellowgreen;
       
    }
    100% {
        background: red;
        transform: rotate(360deg) translateX(100px) rotate(-360deg);
    }
    
    
}
