* {
    box-sizing: 
    border-box;
}

body {
    background-image: url(images/neon-john-wick.jpg);
    background-repeat: repeat;
}

.go-home {
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    bottom: 830px;
    right:850px;
}

.jw {
    color:aqua;
}

.jw2 {
    color:crimson;
}

.jw3 {
    color:blueviolet;
}

.jw4 {
    color: rgb(255, 123, 0);
}

.revealer {
    cursor: cell;
}

.hidden {
    width: 400px;
    height: 600px;
    position: fixed;
    top:0;
    right: 0;
    opacity: 0;
    pointer-events: none;
}

.revealer:hover + .hidden {
    opacity: 1;
}

p{
    color: blanchedalmond;
}